$primary-pink: #ba4270;
$primary-white: #fbfcfe;
$secondary-medium-blue: #36536b;
$secondary-dark-blue: #1b262f;
$secondary-pink: #da6d97;
$secondary-light-blue: #6c8294;

$p-font-size-mobile: 15px;
$p-font-size-small: 16px;
$p-font-size-medium: 17px;
$p-font-size-large: 19px;
$p-font-size: 1.5rem;

$h1-font-size-large: 7.2rem;
$h1-font-size-small: 5.6rem;
$h2-font-size: 4.8rem;
$h3-font-size-large: 3.2rem;
$h3-font-size-small: 1.8rem;
$h4-font-size: 2.4rem;

// I think you get the point…
