@use "../abstracts/" as a;

.section__partners {
  background-color: a.$secondary-dark-blue;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";

    width: 78rem;
    height: 78rem;
    border-radius: 50%;
    background-color: a.$secondary-medium-blue;
    opacity: 0.15;
    position: absolute;
    left: -215px;
    top: -350px;
    z-index: 5;
  }
}

.section__attributes {
  position: relative;
  &::after {
    content: "";
    width: 78rem;
    height: 78rem;
    border-radius: 50%;
    background-color: a.$secondary-medium-blue;
    opacity: 0.15;
    z-index: -5;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateX(-50%) translateY(-25%);
  }
}

.section__cta {
  margin: 9.6rem 0rem;
}

footer {
  background-color: a.$secondary-dark-blue;
  // z-index: -10;
  height: 10rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: 78rem;
    height: 78rem;
    border-radius: 50%;
    background-color: a.$secondary-medium-blue;
    opacity: 0.15;
    // z-index: -5;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateX(-50%) translateY(-25%);
  }
}
